@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$primary-font: 'Ubuntu', sans-serif;
$primary-color-black: #fff;
$secondary-color-black: #181818;
$primary-color-white: #000;
$secondary-color-white: #fff;
$tertiary-color: linear-gradient(90.21deg, rgba(170, 54, 124, 0.75) -5.91%, rgba(74, 47, 189, 0.75) 111.58%);
$tertiary-color-full: linear-gradient(90.21deg, rgba(170, 54, 124, 1) -5.91%, rgba(74, 47, 189, 1) 111.58%);
